@model ShopVM
@{
    ViewData["Title"] = "Detail";
}


<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Products Details</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <i class="fa-solid fa-angle-right"></i> Products Details
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Wishlist Area -->
    <div class="products-details-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="product-imgs">
                                <div class="img-display">
                                    <div class="img-showcase">
                                        <img src="~/images/products/@Model.Product.Image"
                                             alt="product image" />
                                        <img src="~/images/products/products5.jpg"
                                             alt="product image" />
                                        <img src="~/images/products/products6.jpg"
                                             alt="product image" />
                                        <img src="~/images/products/products7.jpg"
                                             alt="product image" />
                                        <img src="~/images/products/products8.jpg"
                                             alt="product image" />

                                    </div>
                                </div>
                                <div class="img-select">
                                    <div class="img-item">
                                        <a href="#" data-id="1">
                                            <img src="~/images/products/@Model.Product.Image"
                                                 alt="product image" />
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="2">
                                            <img src="~/images/products/products5.jpg"
                                                 alt="product image" />
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="3">
                                            <img src="~/images/products/products6.jpg"
                                                 alt="product image" />
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="4">
                                            <img src="~/images/products/products7.jpg"
                                                 alt="product image" />
                                        </a>
                                    </div>
                                    <div class="img-item">
                                        <a href="#" data-id="5">
                                            <img src="~/images/products/products8.jpg"
                                                 alt="product image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="products-details-desc">
                        <h3>@Model.Product.Name</h3>
                        <div class="price">
                            <span class="new-price">$@Model.Product.Price</span>
                            <span class="old-price">$55.00</span>
                        </div>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <p>
                            @Model.Product.Desc
                        </p>

                        @*  <div class="input-counter">
                        <span class="minus-btn">
                        <i class="fa-solid fa-minus"></i>
                        </span>
                        <input type="text" value="1" />
                        <span class="plus-btn">
                        <i class="fa-solid fa-plus"></i>
                        </span>
                        </div>*@
                        <a asp-controller="basket" asp-action="AddBasket" asp-route-id="@Model.Product.Id" class="default-btn addToCart"><span>Add to Cart</span></a><br />









                        <a asp-controller="wish" asp-action="AddWish" asp-route-id="@Model.Product.Id" class="add-to-wishlist"><i class="fa-solid fa-heart"></i> Add to wishlist</a>
                        <ul class="products-info">
                            <li><span>SKU:</span> @Model.Product.Image.Substring(0,8)</li>
                            <li>
                                <span>Categories:</span> <a asp-controller="shop" asp-action="detail" asp-route-id="@Model.Product.Id">
                                    @foreach (var item in Model.Product.ProductCategories)
                                    {
                                        @item.Category.Name
                                    }
                                </a>
                            </li>
                            <li><span>Availability:</span> In stock @Model.Product.Stock</li>
                            <li><span>Tag:</span> @Model.Product.Tag.Name</li>
                        </ul>
                        <div class="products-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li>
                                    <a href="@ViewBag.Bio.Facebook" class="facebook" target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@ViewBag.Bio.Twitter" class="twitter" target="_blank">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@ViewBag.Bio.Facebook" class="linkedin" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="@ViewBag.Bio.Instagram" class="instagram" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="products-details-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active"
                                        id="description-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#description"
                                        type="button"
                                        role="tab"
                                        aria-controls="description">
                                    Description
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"
                                        id="additional-information-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#additional-information"
                                        type="button"
                                        role="tab"
                                        aria-controls="additional-information">
                                    Additional Info
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link"
                                        id="reviews-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#reviews"
                                        type="button"
                                        role="tab"
                                        aria-controls="reviews">
                                    Reviews(@Model.Comments.Where(c=>c.IsAccess==true).Count())
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show"
                                 id="description"
                                 role="tabpanel">
                                <p>
                                    This story, dazzling in its powerful simplicity and
                                    soul-stirring wisdom, is about an Andalusian shepherd boy
                                    named Santiago who travels from his homeland in Spain to
                                    the Egyptian desert in search of a treasure buried near
                                    the Pyramids. Lorem ipsum dolor sit.
                                </p>
                                <ul>
                                    <li>Instant <strong>Patoi</strong> bestseller</li>
                                    <li>Translated into 18 languages</li>
                                    <li>#1 Most Recommended Book of the year.</li>
                                    <li>
                                        A neglected project, widely dismissed, its champion
                                        written off as unhinged.
                                    </li>
                                    <li>
                                        Yields a negative result in an experiment because of a
                                        flaw in the design of the experiment.
                                    </li>
                                    <li>
                                        An Amazon, Bloomberg, Financial Times, Forbes, Inc.,
                                        Newsweek, Strategy + Business, Tech Crunch, Washington
                                        Post Best Business Book of the year
                                    </li>
                                </ul>
                                <p>
                                    <i>
                                        This story, dazzling in its powerful simplicity and
                                        soul-stirring wisdom, is about an Andalusian shepherd
                                        boy named Santiago who travels from his homeland in
                                        Spain to the Egyptian desert in search of a treasure
                                        buried near the Pyramids. Lorem ipsum dolor sit.
                                    </i>
                                </p>
                            </div>
                            <div class="tab-pane fade"
                                 id="additional-information"
                                 role="tabpanel">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Handle Height</td>
                                                <td>40-45″</td>
                                            </tr>
                                            <tr>
                                                <td>Width</td>
                                                <td>24″</td>
                                            </tr>
                                            <tr>
                                                <td>Wheels</td>
                                                <td>12″</td>
                                            </tr>
                                            <tr>
                                                <td>Dimensions</td>
                                                <td>10 × 10 × 10 cm</td>
                                            </tr>
                                            <tr>
                                                <td>Material</td>
                                                <td>Iron</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="products-review-comments">
                                    @foreach (var comment in Model.Comments.Where(f => f.IsAccess == true).OrderBy(f => f.Date))
                                    {
                                        if (comment.AppUser.UserName == User.Identity.Name)
                                        {
                                            <div class="user-review">
                                                <img src="~/images/user/user1.jpg" alt="image" />
                                                <div class="review-rating d-flex">
                                                    <div class="review-stars">
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                    <a asp-controller="shop" asp-action="deletecomment" asp-route-id="@comment.Id" class="text-danger" style="position:absolute;right:2%;top: 5%;"><i class="far fa-times-circle" style="font-size:20px;"></i></a>
                                                </div>
                                                <span class="d-block sub-name">@comment.AppUser.Fullname.ToUpper()</span>
                                                <p>
                                                    @comment.Message
                                                </p>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="user-review">
                                                <img src="~/images/user/user1.jpg" alt="image" />
                                                <div class="review-rating d-flex">
                                                    <div class="review-stars">
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star checked"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                                <span class="d-block sub-name">@comment.AppUser.Fullname.ToUpper()</span>
                                                <p>
                                                    @comment.Message
                                                </p>
                                            </div>
                                        }

                                    }
                                </div>
                                <div class="review-form-wrapper">
                                    <h3>Add a review</h3>
                                    <p class="comment-notes">
                                        Your email address will not be published. Required
                                        fields are marked <span>*</span>
                                    </p>
                                    <form method="post" asp-controller="shop" asp-action="addcomment">
                                        <div class="input">

                                            <p>Your review *</p>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Message" style="font-size:15px;"></textarea>
                                            <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                                        </div>

                                        <button type="submit" class="btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wishlist Area -->
</main>
