@model List<Product>
@{
    ViewData["Title"] = "Index";
}



<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Shop Grid</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Shop Grid</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <!-- Product Area  -->
    <section id="product">
        <div class="products ptb-100">
            <div class="container">
                <div class="patoi-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <div class="d-flex align-items-center">
                           
                            <p>
                                We found <span class="count">@ViewBag.Pcount</span> products available
                                for you
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <p class="d-none" id="getvalue">@ViewBag.id</p>
                            <select name="" id="select">
                                <option value="1">Default</option>
                                <option value="5">Low to high</option>
                                <option value="4">High to low</option>
                                <option value="3">A to Z</option>
                                <option value="2">Z to A</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @foreach (var item in Model)
                    {

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-box" data-tid="@foreach (var ite in ViewBag.Tags)
                                    {
                                        @ite.Name.ToLower()
                                    }" data-id="@foreach (var ite in item.ProductCategories)
                                    {
                                        @ite.Category.Name.ToLower()
                                    }">
                                <div class="image">
                                    @foreach (var photo in item.ProductImages)
                                    {
                                        if (photo.IsMain)
                                        {
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="d-block">
                                                <img src="~/images/products/p/@photo.ImageUrl"
                                         alt="products-image" />
                                            </a>
                                        }
                                    }
                                    <ul class="products-button">
                                        <li>
                                            <a asp-controller="basket" asp-action="addbasket" asp-route-id="@item.Id" class="addToCart">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="wish" asp-action="addwish" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            
                                            <a class="modalim"  data-bs-toggle="modal" data-bs-target="#productsQuickView" id="@item.Id">
                                            
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <input type="hidden" id="@item.Id" >
                                        </li>
                                        <li>
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="p-content">
                                    <h3>
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price">$@item.Price</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <div class="nav-links d-flex">
                                <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)" style="pointer-events:@(ViewBag.Currentpage == 1 ? "none" : "");" class="previous page-numbers" title="Pervious Page"><i class="fa-solid fa-angle-left"></i></a>
                                @for (int i = 1; i < ViewBag.TotalPage; i++)
                                {
                                    <a class="page-numbers " style="pointer-events:@(ViewBag.CurrentPage == i ? "none" : "");" asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>

                                }
                                <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)" class="next page-numbers" title="Next Page"><i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Area  -->
    <div id="formodalim"></div>

     
</main>
<script>
    var option = document.querySelectorAll("#select option")
    var id = document.getElementById("getvalue").innerHTML
   // console.log(id)
    for (i = 0; i <= option.length - 1; i++) {
        if (option[i].value == id) {
            option[i].setAttribute("selected", "true")
        }
    }
    $(document).ready(function () {
    var ele = document.getElementsByClassName('modalim');
    for (i = 0; i <= ele.length - 1; i++) {
        document.getElementsByClassName('modalim').item(i).onclick = function () {
                document.getElementById("formodalim").innerHTML=" ";
                    $.ajax({
                        method: "get",
                        url: "home/modalim?id=" + this.id,
                        success: function (res) {
                        $("#formodalim").append(res);
                        }
                    })
            
          console.log(this.id)
        }
    }



       
      

        
    });


</script>