@model List<Product>
@{
    ViewData["Title"] = "Index";
}



<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Shop Grid</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Shop Grid</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <!-- Product Area  -->
    <section id="product">
        <div class="products ptb-100">
            <div class="container">
                <div class="patoi-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <div class="d-flex align-items-center">
                            <a href="#"
                               data-bs-toggle="modal"
                               data-bs-target="#productsFilterModal"
                               class="sidebar-filter mb-3"><i class="fa-solid fa-filter"></i> Filter</a>
                            <p>
                                We found <span class="count">@ViewBag.Pcount</span> products available
                                for you
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Sort By:</label>
                            <p class="d-none" id="getvalue">@ViewBag.id</p>
                            <select name="" id="select">
                                <option value="1">Default</option>
                                <option value="5">Low to high</option>
                                <option value="4">High to low</option>
                                <option value="3">A to Z</option>
                                <option value="2">Z to A</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @foreach (var item in Model)
                    {

                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="product-box" data-tid="@foreach (var ite in ViewBag.Tags)
                                    {
                                        @ite.Name.ToLower()
                                    }" data-id="@foreach (var ite in item.ProductCategories)
                                    {
                                        @ite.Category.Name.ToLower()
                                    }">
                                <div class="image">
                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="d-block">
                                        @*<img src="~/images/products/@item.Image"*@
                                         alt="products-image" />
                                    </a>
                                    <ul class="products-button">
                                        <li>
                                            <a asp-controller="basket" asp-action="addbasket" asp-route-id="@item.Id" class="addToCart">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="wish" asp-action="addwish" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-heart"></i>
                                            </a>
                                        </li>
                                        @*   <li>
                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id"
                                    data-bs-toggle="modal"
                                    data-bs-target="#productsQuickView">
                                    <i class="fa-solid fa-eye"></i>
                                    </a>
                                    </li>*@
                                        <li>
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                                <i class="fa-solid fa-link"></i>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="p-content">
                                    <h3>
                                        <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <span class="new-price">$@item.Price</span>
                                    </div>
                                    <div class="rating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <div class="nav-links d-flex">
                                <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)" style="pointer-events:@(ViewBag.Currentpage == 1 ? "none" : "");" class="previous page-numbers" title="Pervious Page"><i class="fa-solid fa-angle-left"></i></a>
                                @for (int i = 1; i < ViewBag.TotalPage; i++)
                                {
                                    <a class="page-numbers " style="pointer-events:@(ViewBag.CurrentPage == i ? "none" : "");" asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>

                                }
                                <a asp-controller="shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)" class="next page-numbers" title="Next Page"><i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Area  -->


    <div class="productsFilterModal modal right fade"
         id="productsFilterModal"
         tabindex="-1"
         style="display: none"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="modal-body">
                    <aside class="widget-area">
                        <div class="widget widget_categories">
                            <h3 class="widget-title"><span>Categories</span></h3>
                            <ul>
                                <li><a asp-controller="blogr" asp-action="index">Business</a></li>
                                <li><a asp-controller="blogr" asp-action="index">Privacy</a></li>
                                <li><a asp-controller="blogr" asp-action="index">Technology</a></li>
                                <li><a asp-controller="blogr" asp-action="index">Tips</a></li>
                                <li><a asp-controller="blogr" asp-action="index">Log in</a></li>
                                <li><a asp-controller="blogr" asp-action="index">Uncategorized</a></li>
                            </ul>
                        </div>
                        @* <div class="widget widget_price_filter">
                        <h3 class="widget-title"><span>Filter by Price</span></h3>

                        <div class="collection_filter_by_price">
                        <div class="wrapper">

                        <div class="price-input">
                        <div class="field">
                        <span>Min</span>
                        <input type="number" class="input-min" value="2500">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                        <span>Max</span>
                        <input type="number" class="input-max" value="7500">
                        </div>
                        </div>
                        <div class="slider">
                        <div class="progress"></div>
                        </div>
                        <div class="range-input">
                        <input type="range" class="range-min" min="0" max="10000" value="2500" step="1">
                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="1">
                        </div>
                        </div>
                        </div>
                        </div>*@
                        <div class="widget widget_patoi_posts_thumb">
                            <h3 class="widget-title"><span>Our Best Sellers</span></h3>
                            @foreach (var item in Model.Take(4))
                            {


                                <article class="item">
                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="thumb">
                                        @*<img src="~/images/products/@item.Image"*@
                                         alt="image" />
                                    </a>
                                    <div class="info">
                                        <h4 class="title">
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
                                        </h4>
                                        <div class="star-rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <span class="price">$@item.Price</span>
                                    </div>
                                </article>
                            }
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h3 class="widget-title"><span>Tags</span></h3>
                            <div class="tagcloud">
                                @foreach (var item in ViewBag.tags)
                                {

                                    <a data-tid="@item.Name.ToLower()">@item.Name</a>
                                }

                            </div>
                        </div>
                        <div class="widget widget_follow_us">
                            <h3 class="widget-title"><span>Follow Us</span></h3>
                            <ul>
                                <li><a href="@ViewBag.Bio.Facebook" target="_blank">Facebook</a></li>
                                <li><a href="@ViewBag.Bio.Twitter" target="_blank">Twitter</a></li>
                                <li><a href="@ViewBag.Bio.Instagram" target="_blank">Instagram</a></li>
                                <li><a href="@ViewBag.Bio.YouTube" target="_blank">YouTube</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</main>
<script>
    var option = document.querySelectorAll("#select option")
    var id = document.getElementById("getvalue").innerHTML
    console.log(id)
    for (i = 0; i <= option.length - 1; i++) {
        if (option[i].value == id) {
            option[i].setAttribute("selected", "true")
        }
    }
    $(document).ready(function () {

        $(document).on("change", "#select", function (e) {

            var base = window.location.origin;
            var url = `${base}/shop?sortId=${$(this).val()}`
            window.location.replace(url)

        })
    });
</script>