@model OrderVM
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Cart</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Cart Area -->
    <section id="cart">
        <div class="cart-area ptb-100">
            <div class="container">
                @if (TempData["Succeeded"] == null)
                {
                    <div class="alert alert-danger ml-5 pl-5 mr-5 pr-5" id="failAlert" role="alert">
                       Stokda bundan artiq yoxdur !!!
                    </div>
                }
                <form method="post">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BasketItems)
                                {


                                    <tr>
                                        <td>
                                            <a asp-controller="basket" asp-action="removecartitem" asp-route-id="@item.Product.Id" class="remove cart-remove-btn">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                                @*<img src="~/images/products/@item.Product.Image"*@
                                                 alt="item" />
                                                <h3>@item.Product.Name</h3>
                                            </a>
                                        </td>
                                        <td>$@item.Product.Price</td>
                                        <td class="product-quantity">
                                            <div class="input-counter d-flex">
                                                <a data-id="@item.Product.Id" class="down" id="downbtn"><i class="fas fa-chevron-left"></i></a>
                                                <div class="ml-3 inp-value">@item.Count</div>
                                                <a data-id="@item.Product.Id" class="up" id="upbtn"><i class="fas fa-chevron-right"></i></a>

                                            </div>
                                           
                                        </td>
                                        <td id="total-price" data-id="@item.Product.Id">
                                            @{
                                                @(item.Product.Price * @item.Count)
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-buttons">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-sm-12 col-md-7">
                                <div class="shopping-coupon-code">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Coupon code"
                                           name="coupon-code"
                                           id="coupon-code" />
                                    <button type="submit">Apply Coupon</button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-md-5 text-end">
                                <a href="#" id="update" class="default-btn"><span>Update Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-totals">
                        <ul>                            
                            <li>Subtotal <span id="cem">      </span></li>
                            <li>Shipping <span id="shipping"> </span></li>
                            <li>Total    <span id="final">    </span></li>
                        </ul>
                        <a asp-controller="check" asp-action="index" class="default-btn"><span>Proceed to Checkout</span></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Cart Area -->

</main>

@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        $(document).ready(function () {

            $(document).on("click", ".down", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id")
                var total = document.querySelector("#cem")
                var money = document.querySelectorAll(".total-price")
                console.log(id)
                $.ajax({
                    url: "/basket/minus",
                    data: {
                        id: id
                    },
                    type: "post",
                    datatype: "json",
                    success: function (data) {
                        money.forEach(mon => {
                            if (id == mon.getAttribute("data-id")) {
                                mon.innerHTML += data.price
                               // console.log(data.price)
                            }
                        })
                        money.innerHTML += `${data.totalPrice}`

                    }
                })

            })


            $(document).on("click", ".up", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id")
                var total = document.querySelector("#cem")
                var money = document.querySelectorAll(".total-price")
                console.log(id)
                $.ajax({
                    url: "/basket/plus",
                    data: {
                        id: id
                    },
                    type: "post",
                    datatype: "json",
                    success: function (data) {
                        money.forEach(mon => {
                            if (id == mon.getAttribute("data-id")) {
                                mon.innerHTML = data.price
                                console.log(data.price)
                            }
                        })
                        money.innerHTML += `${data.totalPrice}`

                    }
                })

            })



            $(".cart-remove-btn").click(function (e) {
                e.preventDefault()
                console.log($(this).attr("href"))
                Swal.fire({
                    title: 'Eminsiniz mi?',
                    text: "Bunun geri donusu yoxdur!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Beli, sil!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var link = $(this).attr("href");
                        fetch(link).then(response => response.json()).then(data => {
                            if (data.status == 200) {
                                location.reload(true)
                            } else {
                                Swal.fire(
                                    'Not found!',
                                    'Your file can not be deleted.',
                                    'Failed'
                                )
                            }
                        });
                    }
                })
            })

        })


        // Input count
        var myInp = document.querySelectorAll(".inp-value");
        var increaseBtn = document.querySelectorAll(".up");
        var decreaseBtn = document.querySelectorAll(".down");
        for (let elem of decreaseBtn) {

            elem.addEventListener("click", function (e) {
                e.preventDefault()
                countst = this.nextElementSibling.innerText
                countstn = Number(countst)

                if (countstn > 1) {
                    count = this.nextElementSibling.innerText
                    countn = Number(count)
                    countn -= 1;
                    this.nextElementSibling.innerText = countn;
                }
            })
        }
        for (let elem of increaseBtn) {

            elem.addEventListener("click", function (e) {
                e.preventDefault()
                count = this.previousElementSibling.innerText
                countn = Number(count)
                countn += 1;
                this.previousElementSibling.innerText = countn;


            })
        }


    </script>
}