@model IEnumerable<BasketProduct>
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Cart</h1>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Cart Area -->
    <section id="cart">
        <div class="cart-area ptb-100">
            <div class="container">
                @if (TempData["Fail"] != null)
                {
                    <div class="alert alert-danger ml-5 pl-5 mr-5 pr-5" id="failAlert" role="alert">
                        @TempData["Fail"]
                    </div>
                }
                <form method="post">
                    <div class="cart-table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {


                                    <tr>
                                        <td>
                                            <a asp-controller="Basket" asp-action="removeitem" asp-route-id="@item.Id" class="remove">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id">
                                                <img src="~/images/products/@item.Image"
                                                 alt="item" />
                                                <h3>@item.Name</h3>
                                            </a>
                                        </td>
                                        <td>$@item.Price</td>
                                        <td class="product-quantity">
                                            <div class="input-counter d-flex">
                                                <a asp-controller="basket" asp-action="minus" asp-route-id="@item.Id" class="minus-btn ml-2">-</a>
                                                <div class="ml-3">@item.Count</div>
                                                <a class="plus-btn ml-3" asp-controller="basket" asp-action="plus" asp-route-id="@item.Id">+</a>
                                            </div>
                                           
                                        </td>
                                        <td id="total-price">
                                            @{
                                                @(item.Price * @item.Count)
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-buttons">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-sm-12 col-md-7">
                                <div class="shopping-coupon-code">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Coupon code"
                                           name="coupon-code"
                                           id="coupon-code" />
                                    <button type="submit">Apply Coupon</button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-md-5 text-end">
                                <a href="cart.html" class="default-btn"><span>Update Cart</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-totals">
                        <ul>
                            
                            <li>Subtotal <span id="cem"></span></li>
                            <li>Shipping <span id="shipping"></span></li>
                            <li>Total <span id="final"></span></li>
                        </ul>
                        <a asp-controller="check" asp-action="index" class="default-btn"><span>Proceed to Checkout</span></a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Cart Area -->

</main>

@section Scripts{
    <script>


        let alertDiv = document.getElementById("failAlert");
        setTimeout(function () {
            alertDiv.remove()
        }, 4000)

    </script>
}