@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<main>
    <section id="page-title">
        <div class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>Shop Grid</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fa-solid fa-angle-right"></i> My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="profile-authentication-area ptb-100">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-12 col-md-12">
                    <div class="login-form">
                        <h2>Register</h2>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="@Model.Fullname">Fullname</label>
                                <input asp-for="@Model.Fullname" class="form-control" placeholder="Fullname">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Username">Username</label>
                                <input asp-for="@Model.Username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Email">Email</label>
                                <input asp-for="@Model.Email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password">Password</label>
                                <input asp-for="@Model.Password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CheckPassword">CheckPassword</label>
                                <input asp-for="@Model.CheckPassword" class="form-control" placeholder="CheckPassword">
                            </div>
                            <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ &amp; )</p>
                            <p class="description"> Already have an account? <a asp-controller="account" asp-action="login" class="text-primary">Login</a></p>
                            <button type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>