@model Product
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid mb-4">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">

            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control">
            <span style="color: red;" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input type="text" asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name" rows="3">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Price">Price</label>
            <input type="number" asp-for="@Model.Price" class="form-control" id="Price" placeholder="Price" rows="3">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>


        <div class="form-group  ">
            <label asp-for="@Model.Desc">Description</label>
            <input asp-for="@Model.Desc" />
            <span asp-validation-for="@Model.Desc"></span>
        </div>

        <div class="form-group  ">
            <label asp-for="@Model.IsHot">IsHot</label>
            <input asp-for="@Model.IsHot" />
            <span asp-validation-for="@Model.IsHot"></span>
        </div>
        <div class="form-group ">
            <label asp-for="@Model.OnSale">OnSale</label>
            <input asp-for="@Model.OnSale" />
            <span asp-validation-for="@Model.OnSale"></span>
        </div>

        <div class="form-group ">
            <label asp-for="@Model.Stock">Stock</label>
            <input asp-for="@Model.Stock" />
            <span asp-validation-for="@Model.Stock"></span>
        </div>
        <div class="form-group ">
            <label asp-for="@Model.IsNew">IsNew</label>
            <input asp-for="@Model.IsNew" />
            <span asp-validation-for="@Model.IsNew"></span>
        </div>






        <div class="form-group">
            <label asp-for="Tag"></label>
            <select asp-for="TagId" class="form-select" asp-items="ViewBag.Tags">
                <option selected>Select tag</option>
            </select>
            <span style="color: red;" asp-validation-for="TagId"></span>
        </div>



        <div class="form-group ">
            <label> Sub-tag</label>
            <select id="SubTagTypeId" class="form-select">
                <option selected>Sub tag</option>
            </select>
        </div>


        <div class="form-group">
            <select style="width: 50%" asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                <option selected>Categories</option>
            </select>
            <span style="color: red;" asp-validation-for="CategoryId"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

        <a asp-controller="product" asp-action="index">

            <i style="font-size:0.875rem; text-decoration:none;" class="btn btn-dark">Back</i>
        </a>
    </form>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {
            $("select#TagId").change(function () {
                var cid = $(this).val();

                $("select#SubTagTypeId").empty();

                $.getJSON(`/Admin/Product/GetSubTag?cid=${cid}`, function (data) {
                    //console.log(data);
                    $.each(data, function (i, item) {
                        $("select#SubTagTypeId").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            })
        });
    </script>
}
