@model Pagination<Product>
@{
    ViewData["Title"] = "Index";
    int count = (Model.CurrentPage - 1) * 5;
}


<div class="container mt-5">
    <div class="btn btn-primary">
        <a asp-controller="product" asp-action="Create">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Setting</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Product item in Model.Items)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        @foreach (var photo in item.ProductImages)
                       {
                           if (photo.IsMain)
                            {
                                
                        <img src="~/images/products/p/@photo.ImageUrl" />
                            }
                       }
                    </td>
                    <td>@item.Name</td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-controller="product" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>
<div class="row justify-content-center">
    <nav aria-label="...">
        <ul class="pagination pagination-lg">

            @for (var i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.CurrentPage==i? "disabled":"")">
                    <a class="page-link " asp-area="Admin" asp-controller="Product" asp-action="index" asp-route-pageSize="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>